.general{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 14%, 12%);
    position: relative;
    color: hsl(229, 22%, 68%);
    margin: auto;
    padding-top: 20px;
    padding-left: 180px;
}

.encabezado{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.seccion-inicio{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}
.titulo{
    font-size: 28px;
    font-weight: 200px;
    margin: 0;
    margin-bottom: 1px;
}
.follow-conten{
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 16px;
    height: 80px;
}

.follow-conten .p{
    font-weight: 70px;
    color: white;
}
.follow-conten .br{
    font-size: 15px;
    color: hsl(0, 29%, 97%);
}

.activ1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    color: hsl(163, 72%, 41%);
}

.activ{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    color:  hsl(356, 69%, 56%);
}

.follow-conten .span{
    width: 16px;
    height: 16px;
}

.im{
    position: absolute;
    top: 22px;
    right: 22px;
}

