.general{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 14%, 12%);
    position: relative;
    color: hsl(229, 22%, 68%);
    margin: auto;
    padding-top: 80px;
    padding-left: 180px;
}

.encabezado{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.contenedor-uno{
    margin: 0;
    color: hsl(0, 0%, 98%);
    line-height: 15px;
}
.contenedor-uno h1{
    font-size: 35px;
}
.contenedor-uno p{
    color: hsl(229, 22%, 68%);
    font-size: 20px;
}