.general{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 14%, 12%);
    position: relative;
    color: hsl(229, 22%, 68%);
    margin: auto;
    padding-top: 20px;
    padding-left: 180px;
}

.encabezado{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.contenido{
    margin-top: 10px;
    display: grid;
    justify-content: space-between;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenedor-seguidor{
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: hsl(0, 0%, 100%);
}

.texto{
    font-size: 55px;
    font-weight: 120px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom: -5px;
    margin-top: 16px;
}

.text{
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.borde1{
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:  hsl(208, 82%, 49%);
}

.borde2{
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: hsl(203, 48%, 63%);
}

.borde3{
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: hsl(37, 86%, 72%);
}

.borde4{
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: hsl(348, 95%, 37%);
}


.activo1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: hsl(163, 72%, 41%);
}

.activo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:  hsl(356, 69%, 56%);
}

.span{
    width: 16px;
    height: 16px;
}
